// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-white: #fff;
$color-light-grey: #efefef;
$color-lighter-grey: rgb(247, 244, 244);
$color-shade-black: #272727; 
$color-black: #000000;
$color-button: #E94B3CFF;
$color-fade-black: #4d4d4d; 
$color-dark: #333;

// GRADIENT COLORS
// second gradient
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

// third gradient
$color-tertiary-light: #00c6ff;
$color-tertiary-dark: #0072ff;

// fourth gradient
$color-fourth-light: #fd746c;
$color-fourth-dark: #ff9068;

// fifth gradient
$color-fifth-light: #673AB7;
$color-fifth-dark: #512DA8
;

// sixth gradient
$color-sixth-light: #76b852;
$color-sixth-dark: #8DC26F;

// FONT
$default-font-size: 1.8rem;

// GRID
$grid-width: 114rem;
$grid-width-small: 45rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// first gradient
// $first-col1: #abdcff;
// $first-col2: #0396ff;

// second gradient
// $second-col1: #7caef0;
// $second-col2: #68fdab;