.feature-box {
    height: 30rem;
    background-color: $color-white;
    font-size: 1.5rem;
    padding: 2.8rem;
    text-align: justify;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: transform .3s ease-out;

    @include respond(tab-port) {
        padding: 2.2rem;
        height: 25rem;
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);       
    }
}